@font-face {
    font-family: 'Philosopher';
    src: url('fonts/Philosopher-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('fonts/Philosopher-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-size: 18pt;
  font-family: 'Philosopher';
}

h1{
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 0.5pt;
}

h2{
  font-size: 100%;
  font-weight: 400;
}

h3{
  font-size: 75%;
  font-weight: 400;
}

p{
  font-family: Arial;
  font-size: 80%;
  padding-top: 15px;
}

.mainScreen{
  display: grid;
  grid-template-areas:
  "header header header header"
  ". video subscription ."
  ". subscriptionDetails subscription .";
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 0.5fr 40% 25% 0.5fr;
  grid-gap: 20px;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

header{
  grid-area: header;
  color: white;
  justify-self: center;
  text-align: center;
  padding-top: 25px;
}

.header_subtitle{
  margin-top: 15px;
}

.video{
  grid-area: video;
}

.subscription{
  grid-area: subscription;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.social{
  width: 40%;
  padding: 0 10px;
}

.social_img{
  width: 120px;
  margin-top: 20px;
}


.subscription_form{
  display: flex;
  flex-direction: column;
}

.subscription_input{
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 5vh;
  color: grey;
  padding-left: 10px;
  margin-top: 20px;
  outline: none;
}

.subscription_submit{
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 16pt;
  border-radius: 5px;
  color: white;
  background-color: grey;
  border: none;
  align-self: center;
}

.alreadyRegistered{
  font-family: Arial;
  font-size: 10pt;
  color: black;
  display: block;
  margin-top: 20px;
}

.confPolicy{
  font-family: Arial;
  font-size: 10pt;
  color: black;
  display: block;
  margin-top: 60px;
}

.subscriptionDetails{
  grid-area: subscriptionDetails;
  color: white;
  font-size: 14pt;
  padding: 10px 30px 50px 30px;
}

.course{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.course_contentArticle{
  margin-top: 50px;
}

.course_article{
  margin-top: 25px;
  background-color: white;
  width: 70%;
}

.course_title{
  background-color: grey;
  padding: 10px 15px;
}

.smallText{
  font-size: 12pt;
  padding: 25px 15px 40px 15px;
  display: none;
}

.author{
  width: 70%;
  margin: 50px auto 0 auto;
  text-align: center;
  background-color: grey;
  padding: 30px 20px 40px 20px;
}

.author_title{
  margin-bottom: 20px;
}

.author_picture{
  width: 35%;
  float: left;
}

.author_about{
  width: 65%;
  float: left;
  padding: 15px 0 0 50px;
  font-family: Arial;
  font-size: 12pt;
  text-align: left;
}

.listItem{
  padding: 0 0 15px 0;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.feedback{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.feedback_title{
  flex-basis: 100%;
  margin-bottom: 30px;
}

.feedback_text{
  width: 75%;
  font-size: 70%;
  padding-top: 0;
  text-align: left;
  line-height: 150%;
}

.quote{
  font-family: Arial;
  font-size: 80pt;
  cursor: pointer;
}

.studentName{
  font-style: italic;
  float: right;
}

footer{
  width: 100%;
  background-color: darkgrey;
  margin-top: 50px;
  text-align: center;
  padding: 40px 0;
}

.subscribe{
  padding: 20px 35px;
  font-size: 16pt;
  border-radius: 5px;
  color: white;
  background-color: grey;
  border: none;
}

@media (max-width: 1000px) {
  body{
    font-size: 12pt;
  }

  .mainScreen{
    display: block;
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    text-align: center;
  }

  .video{
    margin-top: 25px;
  }

  .subscriptionDetails{
    padding-bottom: 30px;
  }

  .subscription{
    border-radius: 0;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
  }

  .course{
    display: block;
    text-align: center;
  }

  .course_article{
    width: 90%;
    margin: 20px auto;
  }

  .course_title{
    padding: 15px;
  }

  .author{
    width: 100%;
  }

  .author_picture{
    clear: both;
    width: 100%;
  }

  .author_about{
    clear: both;
    padding: 20px 0 0 20px;
    width: 100%;
  }

  .feedback{
    width: 100%;
    padding: 20px 0 0 0;
  }

  .quote{
    font-size: 50pt;
  }

  .feedback_text{
    font-size: 90%;
  }
}
